.nav-btn .line {
  transition: 0.25s ease-in-out;
  transform-origin: center;
}

.nav-btn[aria-expanded="true"] :is(.top, .bottom) {
  width: 0;
  x: 20px;
  y: 19px;
}

.nav-btn[aria-expanded="true"] .middle-1 {
  rotate: 45deg;
}

.nav-btn[aria-expanded="true"] .middle-2 {
  rotate: -45deg;
}
